/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

/* global */
.container{
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
}
/* header */
.header{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack:justify;
        -ms-flex-pack:justify;
            justify-content:space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
	position: fixed;
    max-width: 1170px;
    width: 100%;
	top: 0;
	z-index: 999;
}

.fonts{
    font-family: 'The Nautigal', cursive;
	font-size: 35px;
	color: black;
}

.nav{
    width: 550px;
}

.nav > ul{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;    

}

.nav-a{
    font-size: 15px;
	color: black;
}

.burger-bars{
    font-size: 30px;
    display: none;
}
/* section 1 */
.s-1{
    background-image: url(../image/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: white;
    
    height: 600px;
    width: 100%;
    margin-top: 100px;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.s-1 > h2{
    font-size: 50px;
	margin-bottom: 80px;
	color: white;
}

.s-1 > p{
    color: white;
}

/* section 1 end */
/* section 2 start */

.s2-wrapper{
    margin-top: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.box{
    width: 200px;
    height: 200px;
}

.box > h4{
    font-size: 15px;
	color: #73733f;
}

.box > h2{
    font-size: 21px;
	color: black;
	margin-top: 5px;
}

.box > p{
    font-size: 16px;
	color: #949451;
	margin-top: 15px;
}
.cards{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 870px;
    width: 100%;
}
.card{
    max-width: 280px;
    width: 100%;
    height: 280px;
    margin-bottom: 20px;
}

.card > h2{
    font-size: 21px;
	color: black;
	margin-top: 5px;
}

.card > p{
    font-size: 16px;
	color: #949451;
	margin-top: 15px;
}

card > img{
    width: 100%;
}